*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html{
  font-size: 62.5%;
}

body{
  height: 100vh;
}

#root{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}